{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h2>Novo Post:</h2>
<div class="card">
  <div class="card-body">
    <form method="post" action="/admin/posts/novo">
      <label for="titulo">Título:</label>
      <input type="text" name="titulo" id="titulo" placeholder="Título do post" class="form-control"><br>
      <label for="slug">Slug:</label>
      <input type="text" name="slug" id="slug" placeholder="Slug do post" class="form-control"><br>
      <label for="descricao">Descrição:</label>
      <input type="text" name="descricao" id="descricao" placeholder="Descrição do post" class="form-control"><br>
      <label for="conteudo">Conteúdo:</label>
      <textarea name="conteudo" id="conteudo" placeholder="Conteúdo do post" class="form-control"></textarea><br>
      <label for="categoria">Categoria:</label>
      <select class="form-control" name="categoria" id="categoria">
          {{#each Categorias}}
            <option value="{{_id}}">{{this.Nome}}</option>
          {{else}}  
            <option value="0">Nenhuma categoria registrada</option>
          {{/each}}
      </select><br>
      <button type="submit" class="btn btn-success" style="float: right;">Cadastrar post</button>
    </form>
  </div>
</div>

