<h2>Lista das posts</h2>
<hr>
<a href="/admin/posts/add"><button type="button" class="btn btn-primary">Novo Post</button></a>
<br>
<br>
{{#each Postagem}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{this.Titulo}}</h4>
            <p>Descrição: {{this.Descricao}}</p>
            <small>Data: {{this.Data}}</small><br>
            <small>Categoria: {{this.Categoria.Nome}}</small>

            <div id="actions" style="float: right;">
                <a href="/admin/posts/edit/{{_id}}"><button class="btn btn-warning"><img src="https://raw.githubusercontent.com/google/material-design-icons/master/editor/2x_web/ic_mode_edit_black_48dp.png" title="Editar categoria" width="25px"></button></a>
                <a href="/admin/posts/del/{{_id}}"><button class="btn btn-danger"><img src="https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_delete_black_48dp.png" title="Deletar categoria" width="25px"></button></a>
            </div>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada</p>
{{/each}}